/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after, .clearfix:before, .clearfixiest:after, .clearfixiest:before {
  display: block;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  content: '\0020'; }
.clearfix:after, .clearfixiest:after {
  clear: both; }
.clearfix, .clearfixiest {
  zoom: 1; }

.clear {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0; }

/**
* BE WARNED
* rowMachine uses nth-child which is not supported in IE 7
* http://caniuse.com/css-sel3
*
*/
.content {
  width: 100%; }

h2 {
  font-size: 28px;
  color: #26b8c5;
  line-height: 1.07143;
  border-bottom: 1px solid #272727;
  padding-bottom: 5px; }

.homepage h2 {
  font-size: 36px;
  color: #407e36;
  background: #fff;
  display: inline-block;
  border: none; }

.article-list h1 {
  font-size: 90px; }

.article-page h1 {
  font-size: 40px;
  text-shadow: none;
  color: #272727; }
.article-page h3 {
  font-size: 28px;
  line-height: 1.25; }

h3 {
  font-size: 30px; }

body {
  line-height: 1.375;
  color: #272727; }

a {
  color: #26b8c5;
  text-decoration: none; }
  a:hover {
    color: #2099a4; }

.rf-paragraph ul {
  padding: 0;
  margin: 0; }
  .rf-paragraph ul li {
    padding-left: 35px;
    margin: 10px 0;
    list-style: none; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

p.error {
  color: #ff887c; }

p.success {
  color: #26b8c5; }

body {
  font-size: 100%; }

.container {
  width: 950px;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  padding: 0; }
  .container .column, .container .columns {
    display: inline;
    float: left;
    margin: 0 10px 0 0; }
    .container .column.last, .container .columns.last {
      margin-right: 0; }
  .container .col1.columns, .container col1.column {
    width: 30px; }
  .container .col2.columns {
    width: 70px; }
  .container .col3.columns {
    width: 110px; }
  .container .col4.columns {
    width: 150px; }
  .container .col5.columns {
    width: 190px; }
  .container .col6.columns {
    width: 230px; }
  .container .col7.columns {
    width: 270px; }
  .container .col8.columns {
    width: 310px; }
  .container .col9.columns {
    width: 350px; }
  .container .col10.columns {
    width: 390px; }
  .container .col11.columns {
    width: 430px; }
  .container .col12.columns {
    width: 470px; }
  .container .col13.columns {
    width: 510px; }
  .container .col14.columns {
    width: 550px; }
  .container .col15.columns {
    width: 590px; }
  .container .col16.columns {
    width: 630px; }
  .container .col17.columns {
    width: 670px; }
  .container .col18.columns {
    width: 710px; }
  .container .col19.columns {
    width: 750px; }
  .container .col20.columns {
    width: 790px; }
  .container .col21.columns {
    width: 830px; }
  .container .col22.columns {
    width: 870px; }
  .container .col23.columns {
    width: 910px; }
  .container .col24.columns {
    width: 950px; }

.row {
  margin-bottom: 20px; }
  .row:after, .row:before {
    display: block;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    content: '\0020'; }
  .row:after {
    clear: both; }
  .row {
    zoom: 1; }
  .row.reverse > .column, .row.reverse > .columns {
    float: right; }
    .row.reverse > .column.first, .row.reverse > .columns.first {
      margin-right: 0; }
    .row.reverse > .column.last, .row.reverse > .columns.last {
      margin: 0 10px 0 0; }

.append-1 {
  padding-right: 40px; }

.append-2 {
  padding-right: 80px; }

.append-3 {
  padding-right: 120px; }

.append-4 {
  padding-right: 160px; }

.append-5 {
  padding-right: 200px; }

.append-6 {
  padding-right: 240px; }

.append-7 {
  padding-right: 280px; }

.append-8 {
  padding-right: 320px; }

.append-9 {
  padding-right: 360px; }

.append-10 {
  padding-right: 400px; }

.append-11 {
  padding-right: 440px; }

.append-12 {
  padding-right: 480px; }

.append-13 {
  padding-right: 520px; }

.append-14 {
  padding-right: 560px; }

.append-15 {
  padding-right: 600px; }

.append-16 {
  padding-right: 640px; }

.append-17 {
  padding-right: 680px; }

.append-18 {
  padding-right: 720px; }

.append-19 {
  padding-right: 760px; }

.append-20 {
  padding-right: 800px; }

.append-21 {
  padding-right: 840px; }

.append-22 {
  padding-right: 880px; }

.append-23 {
  padding-right: 920px; }

.prepend-1 {
  padding-left: 40px; }

.prepend-2 {
  padding-left: 80px; }

.prepend-3 {
  padding-left: 120px; }

.prepend-4 {
  padding-left: 160px; }

.prepend-5 {
  padding-left: 200px; }

.prepend-6 {
  padding-left: 240px; }

.prepend-7 {
  padding-left: 280px; }

.prepend-8 {
  padding-left: 320px; }

.prepend-9 {
  padding-left: 360px; }

.prepend-10 {
  padding-left: 400px; }

.prepend-11 {
  padding-left: 440px; }

.prepend-12 {
  padding-left: 480px; }

.prepend-13 {
  padding-left: 520px; }

.prepend-14 {
  padding-left: 560px; }

.prepend-15 {
  padding-left: 600px; }

.prepend-16 {
  padding-left: 640px; }

.prepend-17 {
  padding-left: 680px; }

.prepend-18 {
  padding-left: 720px; }

.prepend-19 {
  padding-left: 760px; }

.prepend-20 {
  padding-left: 800px; }

.prepend-21 {
  padding-left: 840px; }

.prepend-22 {
  padding-left: 880px; }

.prepend-23 {
  padding-left: 920px; }

.pull-1 {
  margin-left: -40px; }

.pull-2 {
  margin-left: -80px; }

.pull-3 {
  margin-left: -120px; }

.pull-4 {
  margin-left: -160px; }

.pull-5 {
  margin-left: -200px; }

.pull-6 {
  margin-left: -240px; }

.pull-7 {
  margin-left: -280px; }

.pull-8 {
  margin-left: -320px; }

.pull-9 {
  margin-left: -360px; }

.pull-10 {
  margin-left: -400px; }

.pull-11 {
  margin-left: -440px; }

.pull-12 {
  margin-left: -480px; }

.pull-13 {
  margin-left: -520px; }

.pull-14 {
  margin-left: -560px; }

.pull-15 {
  margin-left: -600px; }

.pull-16 {
  margin-left: -640px; }

.pull-17 {
  margin-left: -680px; }

.pull-18 {
  margin-left: -720px; }

.pull-19 {
  margin-left: -760px; }

.pull-20 {
  margin-left: -800px; }

.pull-21 {
  margin-left: -840px; }

.pull-22 {
  margin-left: -880px; }

.pull-23 {
  margin-left: -920px; }

.pull-24 {
  margin-left: -960px; }

.mobile-nav {
  display: none; }

@media only screen and (min-width: 767px) and (max-width: 964px) {
  .container {
    width: 760px; }
    .container .column, .container .columns {
      margin: 0 8px 0 0; }
      .container .column.col1, .container .column.col1 .container .column, .container .columns.col1, .container .columns.col1 .container .columns {
        width: 24px; }
      .container .column.col2, .container .columns.col2 {
        width: 56px; }
      .container .column.col3, .container .columns.col3 {
        width: 88px; }
      .container .column.col4, .container .columns.col4 {
        width: 120px; }
      .container .column.col5, .container .columns.col5 {
        width: 152px; }
      .container .column.col6, .container .columns.col6 {
        width: 184px; }
      .container .column.col7, .container .columns.col7 {
        width: 216px; }
      .container .column.col8, .container .columns.col8 {
        width: 248px; }
      .container .column.col9, .container .columns.col9 {
        width: 280px; }
      .container .column.col10, .container .columns.col10 {
        width: 312px; }
      .container .column.col11, .container .columns.col11 {
        width: 344px; }
      .container .column.col12, .container .columns.col12 {
        width: 376px; }
      .container .column.col13, .container .columns.col13 {
        width: 408px; }
      .container .column.col14, .container .columns.col14 {
        width: 440px; }
      .container .column.col15, .container .columns.col15 {
        width: 472px; }
      .container .column.col16, .container .columns.col16 {
        width: 504px; }
      .container .column.col17, .container .columns.col17 {
        width: 536px; }
      .container .column.col18, .container .columns.col18 {
        width: 568px; }
      .container .column.col19, .container .columns.col19 {
        width: 600px; }
      .container .column.col20, .container .columns.col20 {
        width: 632px; }
      .container .column.col21, .container .columns.col21 {
        width: 664px; }
      .container .column.col22, .container .columns.col22 {
        width: 696px; }
      .container .column.col23, .container .columns.col23 {
        width: 728px; }
      .container .column.col24, .container .columns.col24 {
        width: 760px; }

  .span-1 {
    width: 24px; }

  .span-2 {
    width: 56px; }

  .span-3 {
    width: 88px; }

  .span-4 {
    width: 120px; }

  .span-5 {
    width: 152px; }

  .span-6 {
    width: 184px; }

  .span-7 {
    width: 216px; }

  .span-8 {
    width: 248px; }

  .span-9 {
    width: 280px; }

  .span-10 {
    width: 312px; }

  .span-11 {
    width: 344px; }

  .span-12 {
    width: 376px; }

  .span-13 {
    width: 408px; }

  .span-14 {
    width: 440px; }

  .span-15 {
    width: 472px; }

  .span-16 {
    width: 504px; }

  .span-17 {
    width: 536px; }

  .span-18 {
    width: 568px; }

  .span-19 {
    width: 600px; }

  .span-20 {
    width: 632px; }

  .span-21 {
    width: 664px; }

  .span-22 {
    width: 696px; }

  .span-23 {
    width: 728px; }

  .span-24 {
    width: 760px; }

  .append-1 {
    padding-right: 32px; }

  .append-2 {
    padding-right: 64px; }

  .append-3 {
    padding-right: 96px; }

  .append-4 {
    padding-right: 128px; }

  .append-5 {
    padding-right: 160px; }

  .append-6 {
    padding-right: 192px; }

  .append-7 {
    padding-right: 224px; }

  .append-8 {
    padding-right: 256px; }

  .append-9 {
    padding-right: 288px; }

  .append-10 {
    padding-right: 320px; }

  .append-11 {
    padding-right: 352px; }

  .append-12 {
    padding-right: 384px; }

  .append-13 {
    padding-right: 416px; }

  .append-14 {
    padding-right: 448px; }

  .append-15 {
    padding-right: 480px; }

  .append-16 {
    padding-right: 512px; }

  .append-17 {
    padding-right: 544px; }

  .append-18 {
    padding-right: 576px; }

  .append-19 {
    padding-right: 608px; }

  .append-20 {
    padding-right: 640px; }

  .append-21 {
    padding-right: 672px; }

  .append-22 {
    padding-right: 704px; }

  .append-23 {
    padding-right: 736px; }

  .prepend-1 {
    padding-left: 32px; }

  .prepend-2 {
    padding-left: 64px; }

  .prepend-3 {
    padding-left: 96px; }

  .prepend-4 {
    padding-left: 128px; }

  .prepend-5 {
    padding-left: 160px; }

  .prepend-6 {
    padding-left: 192px; }

  .prepend-7 {
    padding-left: 224px; }

  .prepend-8 {
    padding-left: 256px; }

  .prepend-9 {
    padding-left: 288px; }

  .prepend-10 {
    padding-left: 320px; }

  .prepend-11 {
    padding-left: 352px; }

  .prepend-12 {
    padding-left: 384px; }

  .prepend-13 {
    padding-left: 416px; }

  .prepend-14 {
    padding-left: 448px; }

  .prepend-15 {
    padding-left: 480px; }

  .prepend-16 {
    padding-left: 512px; }

  .prepend-17 {
    padding-left: 544px; }

  .prepend-18 {
    padding-left: 576px; }

  .prepend-19 {
    padding-left: 608px; }

  .prepend-20 {
    padding-left: 640px; }

  .prepend-21 {
    padding-left: 672px; }

  .prepend-22 {
    padding-left: 704px; }

  .prepend-23 {
    padding-left: 736px; }

  .pull-1 {
    margin-left: -32px; }

  .pull-2 {
    margin-left: -64px; }

  .pull-3 {
    margin-left: -96px; }

  .pull-4 {
    margin-left: -128px; }

  .pull-5 {
    margin-left: -160px; }

  .pull-6 {
    margin-left: -192px; }

  .pull-7 {
    margin-left: -224px; }

  .pull-8 {
    margin-left: -256px; }

  .pull-9 {
    margin-left: -288px; }

  .pull-10 {
    margin-left: -320px; }

  .pull-11 {
    margin-left: -352px; }

  .pull-12 {
    margin-left: -384px; }

  .pull-13 {
    margin-left: -416px; }

  .pull-14 {
    margin-left: -448px; }

  .pull-15 {
    margin-left: -480px; }

  .pull-16 {
    margin-left: -512px; }

  .pull-17 {
    margin-left: -544px; }

  .pull-18 {
    margin-left: -576px; }

  .pull-19 {
    margin-left: -608px; }

  .pull-20 {
    margin-left: -640px; }

  .pull-21 {
    margin-left: -672px; }

  .pull-22 {
    margin-left: -704px; }

  .pull-23 {
    margin-left: -736px; }

  .pull-24 {
    margin-left: -768px; }

  .row.reverse > .column.last {
    margin: 0 8px 0 0; }
 }

@media only screen and (max-width: 767px) {
  .container {
    width: 90%; }
    .container.columns, .container.column, .container .columns, .container .column {
      margin: 0 0 20px 0;
      padding: 0; }
    .container [class*='col'].column, .container [class*='col'].columns {
      width: 90%; }

  .row.reverse > .colun.last .row.reverse > coluns.last {
    margin: 0 10px 0 0; }

  .mobile-nav {
    display: block; }

  .main-nav {
    display: none; }
 }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 90%; }
    .container .column, .container .columns {
      margin: 0 0 20px 0; }
    .container [class*='col'].column, .container [class*='col'].columns {
      width: 90%; }

  .mobile-nav {
    display: block; }

  .main-nav {
    display: none; }

  .scale-width-grid {
    max-width: 100%;
    height: auto; }

  .scale-width-grid-full {
    width: 100%;
    height: auto; }
 }

.container:after, .container:before {
  display: block;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  content: '\0020'; }
.container:after {
  clear: both; }
.container {
  zoom: 1; }

@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix'), url('../fonts/OpenSans-Bold.woff'), url('../fonts/OpenSans-Bold.ttf'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold'); }

.OpenSans-Bold, input[type="submit"], .pageheader .button, .complete-score-button, .score-button, .scored-button, .pageheader .dashboard, button, .table-list li > .container > *:nth-child(3) button, .table-list li.headings, .student-list .name, .finish-btn, .test-info .timer-wrapper, .test-info .stats > * .label {
  font-family: 'OpenSans-Bold', Arial, sans-serif; }

@font-face {
  font-family: OpenSans-Light;
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix'), url('../fonts/OpenSans-Light.woff'), url('../fonts/OpenSans-Light.ttf'), url('../fonts/OpenSans-Light.svg#OpenSans-Light'); }

.OpenSans-Light {
  font-family: 'OpenSans-Light', Arial, sans-serif; }

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix'), url('../fonts/OpenSans-Regular.woff'), url('../fonts/OpenSans-Regular.ttf'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular'); }

.OpenSans-Regular, body, header .button {
  font-family: 'OpenSans-Regular', Arial, sans-serif; }

@font-face {
  font-family: PrintBold;
  src: url('../fonts/PrintBold.eot');
  src: url('../fonts/PrintBold.eot?#iefix'), url('../fonts/PrintBold.woff'), url('../fonts/PrintBold.ttf'), url('../fonts/PrintBold.svg#PrintBold'); }

.PrintBold, header {
  font-family: 'PrintBold', Arial, sans-serif; }

h2 {
  margin-bottom: 20px; }

input {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box; }

input[type="submit"] {
  font-weight: bold;
  background: #57b947;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid #407e36; }

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #eee;
  font-size: 20px;
  min-height: 150px; }

header .button {
  background: #2099a4;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  float: right; }

header .button:hover {
  background: #26b8c5; }

.pageheader .button {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background: #26b8c5;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 14px;
  float: right;
  margin: 0 0 0 20px;
  border-bottom: 2px solid #2099a4; }

.pageheader .button:hover {
  background: #2099a4; }

.complete-score-button {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background: #e2c14f;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 14px;
  float: right;
  margin: 0 0 0 20px;
  border-bottom: 2px solid #b6933d; }

.complete-score-button:hover {
  background: #b6933d;
  color: #ffffff; }

.score-button {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background: #d5513f;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 14px;
  float: right;
  margin: 0 0 0 20px;
  border-bottom: 2px solid #a64133; }

.score-button:hover {
  background: #a64133;
  color: #ffffff; }

.scored-button {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background: #26b8c5;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 14px;
  float: right;
  margin: 0 0 0 20px;
  border-bottom: 2px solid #2099a4; }

.scored-button:hover {
  background: #2099a4;
  color: #ffffff; }

header {
  background: #26b8c5;
  padding: 20px 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px; }
  header .r-col {
    text-align: right; }
  header a {
    color: #fff;
    text-align: right;
    cursor: pointer; }

.pageheader-teacher {
  background: #e9e9e9;
  padding: 40px 0; }

.pageheader-student {
  background: #cae8eb;
  padding: 40px 0; }

.pageheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.pageheader .dashboard {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.pageheader .name {
  font-size: 40px; }

a:hover {
  cursor: pointer; }

.header-wrap {
  padding: 40px 0;
  background: #cae8eb; }
  .header-wrap > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-wrap > .container > * {
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
          -ms-flex: 100%;
              flex: 100%; }
    .header-wrap > .container input {
      padding: 50px 10px;
      margin: 0; }
  .header-wrap header {
    text-transform: uppercase;
    font-size: 24px;
    color: #979797;
    background: none;
    padding: 0; }
  .header-wrap .button-wrap {
    text-align: right; }

.table-list li {
  background: #f8f8f8;
  border-bottom: 1px solid #c8c8c8;
  padding: 15px 0; }

.table-list li:nth-child(odd) {
  background: #ffffff; }

button {
  display: inline-block;
  border: none;
  background: #57b947;
  color: #fff;
  font-size: 16px;
  padding: 2px 10px;
  cursor: pointer;
  border-bottom: 2px solid #407e36;
  text-transform: uppercase; }

.flash .success {
  text-align: center;
  width: 80%;
  background: #79c76c;
  z-index: 10;
  margin: 10px auto;
  color: #fff;
  padding: 10px; }

.table-list li > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .table-list li > .container > * {
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%; }
    .table-list li > .container > *:nth-child(2) {
      text-align: center; }
    .table-list li > .container > *:nth-child(3) {
      text-align: right; }
      .table-list li > .container > *:nth-child(3) button {
        display: inline-block;
        border: none;
        background: #57b947;
        margin-left: 5px;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        border-bottom: 2px solid #407e36; }
        .table-list li > .container > *:nth-child(3) button.read {
          background: #26b8c5;
          border-bottom: 2px solid #2099a4; }
        .table-list li > .container > *:nth-child(3) button.delete {
          background: #d5513f;
          border-bottom: 2px solid #a64133; }

.table-list li.headings {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px; }
  .table-list li.headings > *:nth-child(2) {
    text-align: center; }
  .table-list li.headings > *:nth-child(3) {
    text-align: right; }

.student-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.student-list .status, .name, .level {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%; }

.level {
  text-align: center; }

.status {
  text-align: right; }

.student-list .name {
  font-size: 22px; }

.text {
  font-size: 24px;
  line-height: 1; }
  .text .active {
    color: #d5b718; }
  .text .incorrect {
    color: #a13b3e; }
  .text .word-wrap {
    position: relative;
    margin: 0.2em 0.2em 0.2em 0;
    display: inline-block;
    padding: 0.8em 0.1em 0.1em; }
    .text .word-wrap .error-code {
      display: block;
      width: 20px;
      border: 1px solid #272727;
      font-size: 14px;
      height: 1.1em;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      text-align: center;
      font-weight: bold; }
    .text .word-wrap .word {
      display: block; }

.finish-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background: #d5513f;
  border: none;
  border-bottom: 4px solid #a64133;
  text-transform: uppercase;
  font-size: 24px;
  margin: 10px 0 20px; }

.test-info {
  padding: 20px 0 0;
  background: #cae8eb; }
  .test-info > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .test-info > .container > * {
      width: 50%; }
  .test-info .student {
    text-transform: uppercase;
    font-size: 18px;
    color: #979797; }
  .test-info .passage-name {
    font-size: 34px; }
  .test-info .timer-wrapper {
    float: right;
    font-size: 20px;
    color: #26b8c5; }
    .test-info .timer-wrapper .label {
      font-size: 18px; }
    .test-info .timer-wrapper .timer {
      padding: 5px 10px;
      background: #fff;
      border: 1px solid #26b8c5;
      display: inline-block; }
  .test-info .play-controls {
    float: right;
    margin-top: 20px; }
    .test-info .play-controls img {
      margin-right: 25px;
      cursor: pointer; }
  .test-info .stats > * {
    display: inline-block;
    text-align: center;
    margin: 20px 20px 0; }
    .test-info .stats > * .label {
      font-size: 18px; }
  .test-info .percentBar-wrapper {
    background: #fff;
    margin-top: 20px; }
    .test-info .percentBar-wrapper .bar {
      background: #57b947;
      height: 5px; }

footer {
  margin-top: 40px;
  background: #26b8c5;
  color: #fff;
  text-align: center;
  padding: 20px 0; }

.login-wrap {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.top-padding {
  margin-top: 40px; }

.form-wrap {
  margin-top: 40px; }
/*# sourceMappingURL=style.css.map */