input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {


}

.search-wrap {
    background: $site-grey4;
}

.student-search {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid $site-teal1;
}