.incorrect-results {
    padding: 30px 20px;
    background: $site-grey4;
    .submit-wrap {
        text-align: right;
    }
    .score {
        padding: 20px 0 0;
    }
    .audio-wrap {
        padding: 20px 0 0;
    }
}