.test-info {
    > .container {
        display: flex;
        > * {
            width: 50%;
        }
    }
    padding: 20px 0 0;
    background: $site-teal3;
    .student{
        text-transform: uppercase;
        font-size: 18px;
        color: $site-grey2;
        @include open-sans(Semibold);
    }
    .passage-name {
        font-size: 38px;
    }

    .timer-wrapper {
        float: right;
        @include open-sans(Bold);
        font-size: 20px;
        color: $site-teal1;
        .label {
            font-size: 18px;
        }
        .timer {
            padding: 5px 10px;
            background: $site-white;
            border: 1px solid $site-teal1;
            display: inline-block;
        }
    }
    .play-controls {
        float: right;
        margin-top: 20px;
        img {
            margin-right: 25px;
            cursor: pointer;
        }
    }

    .stats {
        > * {
            display: inline-block;
            text-align: center;
            margin: 20px 20px 0;

            .label {
                font-size: 18px;
                @include open-sans(Bold);

            }
        }
    }
    
    .percentBar-wrapper {
        background: $site-white;
        margin-top: 20px;
        .bar {
            background: $site-green1;
            height: 5px;
        }
    }

}