header {
  background: #26b8c5;
  padding: 20px 0;
  color: #ffffff;
  @extend .PrintBold;
  text-transform: uppercase;
  font-size: 20px;
  .r-col {
    text-align: right;
  }
  a {
    color: $site-white;
    text-align: right;
    cursor: pointer;
  }
}

